@charset "UTF-8";

/* 
    Paleta de Cores
    Verde:  #49a09d
    Lilas: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    height: 540px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem {
    background: #5f2c82 url(../imagens/pexels-adrien-olichon-2387798.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 250px;
    display: block;
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario h1 {
    text-align:center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8em;
    margin: 20px 0;
}

.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    height: 40px;
    color: white;
}

.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

.campo > input {
    background-color: #86e6e2;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    padding: 4px;
    border: none;
    border-radius: 5px;
    transform: translateY(-12px);
}

.campo >input:focus-within {
    background-color: whitesmoke;
}

.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    background-color: #49a09d;
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #26504f;
}

form > a.botao {
    display: block;
    background-color: white;
    width: 100%;
    height: 40px;
    border: 1px solid #49a09d;
    text-align: center;
    padding-top: 5px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
}

form > a.botao:hover {
    background-color: #26504f;
    color: white;
}

form > a.botao span {
    font-size: 1em;
}