@charset "UTF-8";

/* 
    Paleta de Cores
    Verde:  #49a09d
    Lilas: #5f2c82
*/

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.473);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#imagem {
    background: #5f2c82 url(../imagens/pexels-adrien-olichon-2387798.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 250px;
    display: block;
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario h1 {
    text-align:center;
    margin-bottom: 10px;
}

#formulario > p {
    font-size: 0.8em;
}